<div class="tool-bar" *ngIf="model.getPageInfo() != null">
  <button type="button" class="btn btn-primary btn-sm"
          [disabled]="!prevPageExists()"
          (click)="fetchNextPage( true )">
    <span class="bi-arrow-left"></span>
    <span *ngIf="prevPageExists()">
      Page {{prevPageNumber()}}/{{model.getTotalPages()}}
    </span>
  </button>

  <div class="spacer"></div>

  <button type="button" class="btn btn-primary btn-sm"
          [disabled]="!nextPageExists()"
          (click)="fetchNextPage(false)">
    <span *ngIf="nextPageExists()">
      Page {{nextPageNumber()}}/{{model.getTotalPages()}}
    </span>
    <span class="bi-arrow-right"></span>
  </button>

  <div class="spacer-10"></div>
  <div class="spacer-10"></div>

  <button type="button" class="btn btn-warning btn-sm"
          *ngIf="model.getPctEntriesSelected() > 0"
          (click)="deleteSelectedEntries()">
    <span class="bi-trash"></span>
    Delete Selected
  </button>

  <div class="spacer-2"></div>

  <button type="button" class="btn btn-danger btn-sm float-end">
    <span class="bi-trash"></span>
    Delete All ({{model.getTotalRecords()}}) Search Results
  </button>

</div>
