.tool-bar {
  width: 100%;
  background-color: #B9B9B9;
  padding: 5px;
}

.tool-bar > * {
  display: inline-block;
  font-size: 12px;
}

.spacer {
  width: 10px;
}

.spacer-2 {
  width: 20px;
}

.spacer-5 {
  width: 50px;
}

.spacer-10 {
  width: 100px;
}
