* {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/quicksand-v9-latin-regular.eot');
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
  url('/assets/fonts/quicksand-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/quicksand-v9-latin-regular.woff2') format('woff2'),
  url('/assets/fonts/quicksand-v9-latin-regular.woff') format('woff'),
  url('/assets/fonts/quicksand-v9-latin-regular.ttf') format('truetype'),
  url('/assets/fonts/quicksand-v9-latin-regular.svg#Quicksand') format('svg');
}

body {
  font-family: Quicksand, serif;
  font-size: 12px;
  background-color: #333333;
}

/* Override some styles of BS .navbar class. */
.navbar {
  font-size:23px;
  color:#A9A9A9;
  margin: 0;
  padding-left: 15px;
  --bs-navbar-padding-y: 4px;
}

.navbar > a {
  text-decoration: none;  /* No underline for links inside navbar */
}
