* {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/quicksand-v9-latin-regular.eot');
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
  url('/assets/fonts/quicksand-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/quicksand-v9-latin-regular.woff2') format('woff2'),
  url('/assets/fonts/quicksand-v9-latin-regular.woff') format('woff'),
  url('/assets/fonts/quicksand-v9-latin-regular.ttf') format('truetype'),
  url('/assets/fonts/quicksand-v9-latin-regular.svg#Quicksand') format('svg');
}

body {
  font-family: Quicksand, serif;
  font-size: 12px;
  background-color: #333333;
}

/* The base split pane of an app page. */
.base-split-pane {
  width: 100%;
  height: calc(100vh - 35px );
  display: flex;
  overflow-y: hidden;
}

.base-module-panel {
  position:relative;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-right: 5px;
  margin-left:20px;
  overflow-y: auto;
  font-size: 12px;
}
