<div class="search-bar-div">
  <table class="table table-bordered search-table">
    <thead>
      <tr>
        <th scope="col" style="width: 30px;">
          <a (click)="clearSearchCriteria()">
            <span class="bi-x-diamond"></span>
          </a>
        </th>
        <th scope="col" style="width: 155px;">
          <input class="datepicker" id="fromDate"> -
          <input class="datepicker" id="toDate">
        </th>
        <th scope="col" style="width: 200px;">
          <select *ngIf="!multiSelect"
                  [(ngModel)]="model.getSearchCriteria().jobName"
                  class="form-select form-select-sm">
            <option value="">All Jobs</option>
            <option *ngFor="let jobName of model.getDistinctJobNames()"
                    value="{{jobName}}">{{jobName}}</option>
          </select>
          <select *ngIf="multiSelect"
                  [(ngModel)]="model.getSearchCriteria().jobName"
                  multiple
                  class="form-select form-select-sm">
            <option value="">All Jobs</option>
            <option *ngFor="let jobName of model.getDistinctJobNames()"
                    value="{{jobName}}">{{jobName}}</option>
          </select>
          <span class="bi-asterisk"
                style="margin-left: 5px;"
                (click)="multiSelect=!multiSelect"></span>
        </th>
        <th scope="col" style="width: 50px;">
          <select [(ngModel)]="model.getSearchCriteria().result"
                  class="form-select form-select-sm" style="width: 100%;">
            <option value="">*</option>
            <option value="SUCCESS">S</option>
            <option value="FAILURE">F</option>
          </select>
        </th>
        <th scope="col" colspan="3">
          <a (click)="search()">
            <span class="bi-search"></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
